body {
    font-size: 20px;
    font-family: sans-serif;
    color: aqua;

    line-height: 30px;
    font-weight: bold;
    background-color: rgb(170, 151, 125);

    margin: 0;
    border: blueviolet 2px solid;
    border-top-color: red;
    border-bottom-width: 5px;
}

p::first-letter {
    font-size: 26px;
    color: blue;
}
