* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: sans-serif;
    color: aqua;

    line-height: 30px;
    font-weight: bold;
    background-color: rgb(170, 151, 125);

    margin: 0;
    border: blueviolet 2px solid;
    border-top-color: red;
    border-bottom-width: 5px;

    height: 600px;
}

p::first-letter {
    font-size: 26px;
    color: blue;
}

/* .div {
    border: 3px solid black;

    max-width: 700px;
    min-width: 500px;
    width: 100%;

    min-height: 250px;
    height: 100%;
    max-height: 300px;
} */

.div {
    border: 4px double black;

    padding: 15px;
    outline: black solid 1px;
    outline-offset: -10px;
}
